#body {
   display: flex;
   justify-content: center;
   align-items: center;

   height: 100vh;
}

#animation {
   width: 100px;
   height: 100px;
   border: 10px solid #e5e5e5;
   border-top-color: #90EE90;
   border-radius: 50%;
   visibility: hidden;

   animation: completedAnimation 10s;
   animation-delay: 0.2s;
}

@keyframes completedAnimation {
     to {
     visibility: visible;
     transform: rotate(10turn);
   }
}
